extends: default

rules:
  line-length:
    max: 120
    level: warning
  
  comments:
    min-spaces-from-content: 1
    
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
    
  key-duplicates: enable
  
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
    check-keys: false

ignore: |
  .github/workflows/
  .cache/
  *.encrypted